body {
	margin: 0;
	font-family: sans-serif;
	background: antiquewhite;
	color: black;
	user-select: none;
	cursor: default;
}
div.linio {
	height: 18vh;
	width: 100%;
	overflow: hidden;
	font-size: 15vh;
}
div.nombro,div.vorto {
	line-height: 18vh;
	height: 100%;
	display: table-cell;
	padding-left: 0.1em;
	padding-right: 0.1em;
}
div.nombro {
	background: rosybrown;
	color: white;
	border: 1px solid rosybrown;
}
div.vorto {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
div#nova {
	height: 10vh;
	line-height: 10vh;
	font-size: 5vh;
	width: 100%;
	background: rosybrown;
	color: white;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
}
span#nova_teksto {
	cursor: pointer;
}
.griza {
   	opacity: 0.1;
}
.blua .nombro {
	color: blue;
}
.verda .nombro {
	color: green;
}
.rugxa .nombro {
	color: red;
}
.orangxa .nombro {
	color: orange;
}
.flava .nombro {
	color: yellow;
}
